{% extends "base.html" %}

{% block title %}
    Crear producto · RetroFX
{% endblock %}

{% block extra_css %}
    <style>
        .form-panel form p {
            margin-bottom: 12px;
        }

        .form-panel button {
            margin-top: 8px;
        }
    </style>
{% endblock %}


{% block content %}
    <h1 class="page-title">Crear nuevo producto</h1>
    <p class="page-subtitle">
        Completa la información del plug-in y sus detalles técnicos.
    </p>

    <form method="post">
        {% csrf_token %}

        <h2>Datos del producto</h2>
        {{ form_producto.as_p }}

        <h2>Detalles técnicos</h2>
        {{ form_detalle.as_p }}

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'lista_productos' %}" class="btn">Cancelar</a>
    </form>
{% endblock %}
